* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button button:first-child {
    width: 120px;
    height: 35px;
    background: rgb(34 197 94);
    color: white;
    border-radius: 4px;
}

.button button:first-child a {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
}

.button button {
    width: 120px;
    height: 35px;
    background: red;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.kun{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kun span {
    font-size: 14px;
}